<h1>タスク・インデックス</h1>

<p><%= notice %></p>

<table>
  <tr>
    <th>タスク名</th>
    <th>詳細</th>
  </tr>
<% @tasks.each do |task| %>
  <tr>
    <td><%= task.name %></td>
    <td><%= task.details %></td>
    <td><%= link_to t('view.show'), task_path(task.id) %></td>
    <td><%= link_to t('view.edit'), edit_task_path(task.id), data: { confirm: '編集してしまって、本当にいいんですか？' } %></td>
    <td><%= link_to t('view.destroy'), task_path(task.id), method: :delete, data: { confirm: 'あなたはこのTaskを破壊しようとしています。よろしいんですね！？' } %></td>
  </tr>
  <% end %>
  <%= link_to t('view.new'), new_task_path %>

</table>
